<nz-calendar>
    <div *nzDateCell="let date" class="events" >
            @if(isLeaveStartDate(date)){
                <div>
                    @for (leavePlan of getLeaveObjList(date); track $index) {
                        <div (click)="openLeaveInfoModal(leavePlan)" class="employee-name">
                            <nz-badge [nzColor]="leavePlan.badgeColor" [nzText]="leavePlan.employeeName"></nz-badge><br>
                        </div>
                    }
                </div>
            }
            @for(color of getColorsFromDate(date); track $index){
                <nz-badge [nzColor]="color"></nz-badge><br>
            }
    </div>
  </nz-calendar>
